<launch>
  <!-- Compatibility wrapper. New deployments should launch multi_agv_bringup directly. -->
  <arg name="transport_type" default="serial"/>
  <include file="$(find multi_agv_bringup)/launch/car1_master.launch">
    <arg name="transport_type" value="$(arg transport_type)"/>
  </include>
</launch>
