<launch>
  <!-- Run on Robot1 only. Chassis nodes remain on their respective computers. -->
  <arg name="platform_transport_type" default="serial"/>
  <arg name="enable_commands" default="false"/>
  <arg name="enable_derating" default="false"/>

  <include file="$(find multi_agv_bringup)/launch/odom_state_estimator.launch"/>

  <node pkg="multi_agv_control" type="multi_agv_controller_node"
        name="multi_agv_controller" output="screen" required="true">
    <rosparam command="load" file="$(find multi_agv_bringup)/config/path_s_curve.yaml"/>
    <rosparam command="load" file="$(find multi_agv_bringup)/config/support_geometry.yaml"/>
    <rosparam command="load" file="$(find multi_agv_bringup)/config/pretest_constant_reference.yaml"/>
    <param name="platform_transport_type" value="$(arg platform_transport_type)"/>
    <param name="command_publication_authorized" value="$(arg enable_commands)"/>
  </node>

  <group if="$(arg enable_derating)">
    <node pkg="multi_agv_control" type="experiment_supervisor_node"
          name="experiment_supervisor" output="screen" required="true">
      <rosparam command="load" file="$(find multi_agv_bringup)/config/exp2a_derating_pretest.yaml"/>
      <param name="platform_transport_type" value="$(arg platform_transport_type)"/>
      <param name="derating_publication_authorized" value="true"/>
    </node>
  </group>
</launch>
