<launch>
  <arg name="robot_id"/>
  <arg name="config_file"/>
  <arg name="transport_type" default="serial"/>
  <arg name="imu_x" default="0.0"/>
  <arg name="imu_y" default="0.0"/>
  <arg name="imu_z" default="0.0"/>
  <!-- Measured from the left/right drive-wheel axle midpoint (+x forward). -->
  <arg name="support_x" default="-0.01783"/>
  <arg name="support_y" default="0.0"/>
  <!-- Planar placeholder; physical turntable contact height is not measured. -->
  <arg name="support_z" default="0.0"/>

  <group ns="$(arg robot_id)">
    <node pkg="chassis_controller" type="chassis_controller"
          name="chassis_controller" output="screen" required="true">
      <rosparam command="load" file="$(find multi_agv_bringup)/config/common_platform.yaml"/>
      <rosparam command="load" file="$(arg config_file)"/>
      <param name="transport_type" value="$(arg transport_type)"/>
    </node>

    <node pkg="tf2_ros" type="static_transform_publisher"
          name="base_to_imu_tf"
          args="$(arg imu_x) $(arg imu_y) $(arg imu_z) 0 0 0 $(arg robot_id)/base_link $(arg robot_id)/imu_link"/>
    <node pkg="tf2_ros" type="static_transform_publisher"
          name="base_to_support_tf"
          args="$(arg support_x) $(arg support_y) $(arg support_z) 0 0 0 $(arg robot_id)/base_link $(arg robot_id)/support_link"/>
  </group>
</launch>
