<launch>
  <!-- Software-only local three-chassis launcher. Physical distributed runs
       must use central_odom_pretest.launch on Robot1 and one car launch per PC. -->
  <arg name="enable_commands" default="false"/>
  <arg name="enable_derating" default="false"/>

  <include file="$(find multi_agv_bringup)/launch/chassis_single.launch">
    <arg name="robot_id" value="agv1"/>
    <arg name="config_file" value="$(find multi_agv_bringup)/config/agv1_chassis.yaml"/>
    <arg name="transport_type" value="fake"/>
  </include>
  <include file="$(find multi_agv_bringup)/launch/chassis_single.launch">
    <arg name="robot_id" value="agv2"/>
    <arg name="config_file" value="$(find multi_agv_bringup)/config/agv2_chassis.yaml"/>
    <arg name="transport_type" value="fake"/>
    <arg name="support_x" value="0.09908"/>
  </include>
  <include file="$(find multi_agv_bringup)/launch/chassis_single.launch">
    <arg name="robot_id" value="agv3"/>
    <arg name="config_file" value="$(find multi_agv_bringup)/config/agv3_chassis.yaml"/>
    <arg name="transport_type" value="fake"/>
    <arg name="support_x" value="0.09908"/>
  </include>

  <include file="$(find multi_agv_bringup)/launch/central_odom_pretest.launch">
    <arg name="platform_transport_type" value="fake"/>
    <arg name="enable_commands" value="$(arg enable_commands)"/>
    <arg name="enable_derating" value="$(arg enable_derating)"/>
  </include>
</launch>
