<launch>
  <!-- Backward-compatible Robot1 wrapper around the generic controller. -->
  <arg name="platform_transport_type" default="serial"/>
  <arg name="enable_commands" default="false"/>
  <arg name="confirm_test_area_clear" default="false"/>
  <arg name="confirm_wheels_on_floor" default="false"/>
  <arg name="localization_source" default="odom"/>
  <arg name="camera_pose_topic"
       default="/pose_provider/agv1/base_pose_filtered"/>

  <include file="$(find multi_agv_bringup)/launch/single_car_s_pretest.launch">
    <arg name="robot_index" value="1"/>
    <arg name="platform_transport_type" value="$(arg platform_transport_type)"/>
    <arg name="enable_commands" value="$(arg enable_commands)"/>
    <arg name="confirm_test_area_clear" value="$(arg confirm_test_area_clear)"/>
    <arg name="confirm_wheels_on_floor" value="$(arg confirm_wheels_on_floor)"/>
    <arg name="localization_source" value="$(arg localization_source)"/>
    <arg name="camera_pose_topic" value="$(arg camera_pose_topic)"/>
  </include>
</launch>
