<launch>
  <!-- Robot1 compatibility wrapper: own the local serial chassis, then use
       the same central controller/recorder entry as Robot2 and Robot3. -->
  <arg name="bag_path"/>
  <arg name="confirm_test_area_clear" default="false"/>
  <arg name="confirm_wheels_on_floor" default="false"/>
  <arg name="config_file"
       default="$(find multi_agv_bringup)/config/single_car_s_pretest.yaml"/>

  <include file="$(find multi_agv_bringup)/launch/car1_master.launch">
    <arg name="transport_type" value="serial"/>
  </include>

  <include file="$(find multi_agv_bringup)/launch/single_car_camera_s_capture.launch">
    <arg name="robot_index" value="1"/>
    <arg name="bag_path" value="$(arg bag_path)"/>
    <arg name="confirm_test_area_clear" value="$(arg confirm_test_area_clear)"/>
    <arg name="confirm_wheels_on_floor" value="$(arg confirm_wheels_on_floor)"/>
    <arg name="config_file" value="$(arg config_file)"/>
  </include>
</launch>
