<launch>
  <!-- Controller-only entry. The selected chassis node and recorder must
       already exist; command authority remains disabled by default. -->
  <arg name="robot_index" default="0"/>
  <arg name="platform_transport_type" default="serial"/>
  <arg name="enable_commands" default="false"/>
  <arg name="confirm_test_area_clear" default="false"/>
  <arg name="confirm_wheels_on_floor" default="false"/>
  <arg name="localization_source" default="odom"/>
  <arg name="camera_pose_topic"
       default="$(eval '/pose_provider/agv' + str(arg('robot_index')) + '/base_pose_filtered')"/>

  <node pkg="multi_agv_control" type="single_car_s_pretest_node"
        name="$(eval 'robot' + str(arg('robot_index')) + '_single_s_pretest')"
        output="screen">
    <rosparam command="load"
              file="$(find multi_agv_bringup)/config/single_car_s_pretest.yaml"/>
    <param name="robot_index" value="$(arg robot_index)"/>
    <param name="platform_transport_type" value="$(arg platform_transport_type)"/>
    <param name="command_publication_authorized" value="$(arg enable_commands)"/>
    <param name="confirm_test_area_clear" value="$(arg confirm_test_area_clear)"/>
    <param name="confirm_wheels_on_floor" value="$(arg confirm_wheels_on_floor)"/>
    <param name="localization_source" value="$(arg localization_source)"/>
    <param name="camera_pose_topic" value="$(arg camera_pose_topic)"/>
  </node>
</launch>
